<div class="container">
    <div class="field">
        <label class="label">Task Name</label>
        <div class="control">
            <input class="input is-link" type="text" [(ngModel)]="taskName">
        </div>
    </div>
    <div class="field">
        <label class="label">Task Description</label>
        <div class="control">
            <textarea class="textarea is-link" cols="15" rows="10" [(ngModel)]="taskDescription"></textarea>
        </div>
    </div>
</div>
<div class="container">
    <button class="button is-success" (click)="onAddTaskBtnClick()">Add Task</button>
</div>