<div class="container">
    <div class="field">
        <label class="label">Task Name</label>
        <div class="control">
            <input class="input is-link" type="text">
        </div>
    </div>
    <div class="field">
        <label class="label">Task Description</label>
        <div class="control">
            <textarea class="textarea is-link" cols="15" rows="10"></textarea>
        </div>
    </div>
</div>
<div class="container">
    <button class="button is-success">Add Task</button>
</div>